.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.image-container {
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;     
}

.image {
  max-width: 100%;
  height: auto;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 400;
  font-style: italic;
}


p {
  width: 40%;
}


